<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKD2CDV" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="main">
    <a class="btn-lang lang-en" href="javascript:void(0);" data-lang="th" title="Select Language">
      <span class="th">TH</span>
      <span class="en">EN</span>
    </a>
    <main role="main" class="main-container">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="box-logo">
                <a class="logo" href="https://www.thaiticketmajor.com/index.html"></a>
              </div>
              <div class="herobanner" role="toolbar">
                <ul class="herobanner-slider slick-initialized slick-slider slick-dotted"><button type="button"
                    data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button"
                    aria-disabled="false" style="">Previous</button>

                  <!--fix slide the match 02-04-2022 -->

                  <!-- begin event -->
                  <div aria-live="polite" class="slick-list draggable">
                    <div class="slick-track" role="listbox" style="opacity: 1; width: 3840px;">
                      <li class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option"
                        aria-describedby="slick-slide00"
                        style="width: 640px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 750ms;">
                        <a title="131 Presents : 2024 X-mas Festival in Bangkok"
                          href="/concert/131-presents-2024-x-mas-festival-in-bangkok.html?utm_source=intro&amp;utm_medium=banner&amp;utm_campaign=2024XmasFestBKK"
                          tabindex="-1"><img alt="131 Presents : 2024 X-mas Festival in Bangkok" class=""
                            src="/img_event/highlight/prefix_1/0046/3046/highlight_ttmevent_3046-66fb6938c556e.png"
                            style="opacity: 1;"></a></li>
                      <li class="slick-slide slick-current slick-active" data-slick-index="1" aria-hidden="false"
                        tabindex="-1" role="option" aria-describedby="slick-slide01"
                        style="width: 640px; position: relative; left: -640px; top: 0px; z-index: 999; opacity: 1;"><a
                          title="AEE Asia Entertainment Expo 2024"
                          href="/exhibition/aee-asia-entertainment-expo-2024.html?utm_source=intro&amp;utm_medium=banner&amp;utm_campaign=AEE2024"
                          tabindex="0"><img alt="AEE Asia Entertainment Expo 2024" class=""
                            src="/img_event/highlight/prefix_1/0016/3016/highlight_ttmevent_3016-670dde0aebb4d.jpg"
                            style="opacity: 1;"></a></li>
                      <li class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option"
                        aria-describedby="slick-slide02"
                        style="width: 640px; position: relative; left: -1280px; top: 0px; z-index: 998; opacity: 0; transition: opacity 750ms;">
                        <a title="การแสดงโขนมูลนิธิส่งเสริมศิลปาชีพฯ ตอน พระจักราวตาร"
                          href="/performance/gaan-sa-daeng-kohn-dton-phaa-jak-ra-va-tarn.html?utm_source=intro&amp;utm_medium=banner&amp;utm_campaign=KhonPhraJakrawatarn"
                          tabindex="-1"><img alt="การแสดงโขนมูลนิธิส่งเสริมศิลปาชีพฯ ตอน พระจักราวตาร" class=""
                            src="/img_event/highlight/prefix_1/0012/3012/highlight_ttmevent_3012-66da7950d05f6.png"
                            style="opacity: 1;"></a></li>
                      <li class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option"
                        aria-describedby="slick-slide03"
                        style="width: 640px; position: relative; left: -1920px; top: 0px; z-index: 998; opacity: 0; transition: opacity 750ms;">
                        <a title="ED SHEERAN | Official Band Merchandise"
                          href="https://shopping.thaiticketmajor.com/brand/5093_OfficialBandMerchandise/?utm_source=ttm-intro&amp;utm_medium=banner&amp;utm_campaign=T-shirt-gigmerch-EDSHEERAN#band-ED%20SHEERAN"
                          tabindex="-1"><img alt="ED SHEERAN | Official Band Merchandise" class=""
                            src="/img_event/highlight/prefix_1/2569/2569/highlight_ttmevent_2569-65518f28e6b76.jpg"
                            style="opacity: 1;"></a></li>
                      <li class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="option"
                        aria-describedby="slick-slide04"
                        style="width: 640px; position: relative; left: -2560px; top: 0px; z-index: 998; opacity: 0; transition: opacity 750ms;">
                        <a title="TATE MCRAE THINK LATER WORLD TOUR 2024"
                          href="/concert/tate-mcrae-think-later-world-tour-2024.html?utm_source=intro&amp;utm_medium=banner&amp;utm_campaign=TateMcraeBKK2024"
                          tabindex="-1"><img alt="TATE MCRAE THINK LATER WORLD TOUR 2024" class=""
                            src="/img_event/highlight/prefix_1/2871/2871/highlight_ttmevent_2871-666122c6086c0.jpg"
                            style="opacity: 1;"></a></li>
                      <li class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" role="option"
                        aria-describedby="slick-slide05"
                        style="width: 640px; position: relative; left: -3200px; top: 0px; z-index: 998; opacity: 0; transition: opacity 750ms;">
                        <a title="ธนาคารออมสิน พรีเซนต์ Money Coach on Stage 9 ''เราทุกคน คือ มันนี่ ฮีโร่''"
                          href="/performance/money-coach-on-stage-9.html?utm_source=intro&amp;utm_medium=banner&amp;utm_campaign=MoneyCoachOnStage9"
                          tabindex="-1"><img
                            alt="ธนาคารออมสิน พรีเซนต์ Money Coach on Stage 9 ''เราทุกคน คือ มันนี่ ฮีโร่''" class=""
                            src="/img_event/highlight/prefix_1/0069/3069/highlight_ttmevent_3069-670645f3326ea.png"
                            style="opacity: 1;"></a></li>
                    </div>
                  </div>
                  <!-- end event -->
                  <!--li><a target="_blank" title="บัตรเดบิต BLACKPINK กสิกรไทย" href="https://www.thaiticketmajor.com/kbank-x-blackpink/"><img data-lazy="https://www.thaiticketmajor.com/img_event/highlight/prefix_1/0872/872/highlight_ttmevent_872-5dd35899ed2fa.jpg" alt="บัตรเดบิต BLACKPINK กสิกรไทย"/></a></li-->
                  <!-- begin event -->

                  <!-- end event -->
                  <!-- begin event -->

                  <!-- end event -->
                  <!-- begin shopping -->

                  <!-- end shopping -->
                  <!-- begin event -->

                  <!-- end event -->
                  <!-- begin event -->

                  <!-- end event -->
                  <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button"
                    style="" aria-disabled="false">Next</button>
                  <ul class="slick-dots" style="" role="tablist">
                    <li class="" aria-hidden="true" role="presentation" aria-selected="true"
                      aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none"
                        role="button" tabindex="0">1</button></li>
                    <li aria-hidden="false" role="presentation" aria-selected="false" aria-controls="navigation01"
                      id="slick-slide01" class="slick-active"><button type="button" data-role="none" role="button"
                        tabindex="0">2</button></li>
                    <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation02"
                      id="slick-slide02" class=""><button type="button" data-role="none" role="button"
                        tabindex="0">3</button></li>
                    <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation03"
                      id="slick-slide03" class=""><button type="button" data-role="none" role="button"
                        tabindex="0">4</button></li>
                    <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation04"
                      id="slick-slide04" class=""><button type="button" data-role="none" role="button"
                        tabindex="0">5</button></li>
                    <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation05"
                      id="slick-slide05" class=""><button type="button" data-role="none" role="button"
                        tabindex="0">6</button></li>
                  </ul>
                </ul>
              </div>
              <div class="box-main-btn">
                <a class="lang-swap-link btn-enter-site" href="https://www.thaiticketmajor.com/index.html"
                  data-th="https://www.thaiticketmajor.com/index.html"
                  data-en="https://www.thaiticketmajor.com/index.html"><i class="lang-swap-txt"
                    data-th="เข้าสู่หน้าหลัก" data-en="ENTER SITE">ENTER SITE</i> <span><i class="lang-swap-txt"
                      data-th="THAITICKETMAJOR.COM" data-en="THAITICKETMAJOR.COM">THAITICKETMAJOR.COM</i></span></a>
                <a class="lang-swap-link btn-img" href="https://line.me/R/ti/p/%40gaw9520p"
                  data-th="https://line.me/R/ti/p/%40gaw9520p" data-en="https://line.me/R/ti/p/%40gaw9520p"
                  target="_blank">
                  <i class="lang-swap-txt"
                    data-th="<img src='https://www.thaiticketmajor.com/intro-2018/assets/img/btn_line-th.png' alt=''>"
                    data-en="<img src='https://www.thaiticketmajor.com/intro-2018/assets/img/btn_line-en.png' alt=''>"><img
                      src="https://www.thaiticketmajor.com/intro-2018/assets/img/btn_line-en.png" alt=""></i>
                </a>
              </div>
              <ul class="our-services">
                <li>
                  <a
                    href="https://www.thaiticketmajor.com/all-event/?utm_source=ttm_intro&amp;utm_medium=intro_icon_event">
                    <span class="img"><img
                        src="https://www.thaiticketmajor.com/intro-2018/assets/img/icon_ticketing.png" alt=""></span>
                    <span class="txt lang-swap-txt" data-th="การแสดง" data-en="EVENTS">EVENTS</span>
                  </a>
                </li>
                <li>
                  <a target="_blank"
                    href="http://shopping.thaiticketmajor.com/?utm_source=ttm_intro&amp;utm_medium=intro_icon_shopping">
                    <span class="img"><img src="https://www.thaiticketmajor.com/intro-2018/assets/img/icon_shopping.png"
                        alt=""></span>
                    <span class="txt lang-swap-txt" data-th="ช็อปปิ้ง" data-en="MERCHANDISE">MERCHANDISE</span>
                  </a>
                </li>
                <li>
                  <a target="_blank" href="/variety/?utm_source=ttm_intro&amp;utm_medium=intro_icon_varitey">
                    <span class="img"><img src="https://www.thaiticketmajor.com/intro-2018/assets/img/icon_variety.png"
                        alt=""></span>
                    <span class="txt lang-swap-txt" data-th="วาไรตี้" data-en="VARIETY">VARIETY</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="main-footer">
      <div class="box-social">
        <a class="fa fa-facebook" aria-hidden="true" href="https://www.facebook.com/ThaiTicketMajor" target="_blank"
          title="Facebook fanpage ThaiTicketMajor"></a>
        <a class="fa fa-twitter" aria-hidden="true" href="https://twitter.com/ThaiTicketMajor" target="_blank"
          title="Twitter @ThaiTicketMajor"></a>
        <a class="fa fa-instagram" aria-hidden="true" href="https://www.instagram.com/thaiticketmajor" target="_blank"
          title="Instagram @ThaiTicketMajor"></a>
        <a class="fa fa-youtube-play" aria-hidden="true" href="https://www.youtube.com/c/thaiticketmajor"
          target="_blank" title="THAITICKETMAJOR Channel"></a>
      </div>
      <small class="copyright txtC">
        © 2024 <a href="https://www.thaiticketmajor.com" target="_blank">THAITICKETMAJOR.COM</a>
      </small>
    </footer>
  </div>

  <script src="https://www.thaiticketmajor.com/intro-2018/assets/js/core/jquery.easing.js"></script>
  <script src="https://www.thaiticketmajor.com/intro-2018/assets/js/core/jquery.mousewheel.js"></script>
  <script src="https://www.thaiticketmajor.com/intro-2018/assets/js/core/detectmobilebrowser.js"></script>
  <script src="https://www.thaiticketmajor.com/intro-2018/assets/js/core/jquery.transit.min.js"></script>
  <script src="https://www.thaiticketmajor.com/intro-2018/assets/js/vendor/slick/slick.min.js"></script>
  <script src="https://www.thaiticketmajor.com/intro-2018/assets/js/vendor/js.cookie.js"></script>
  <script src="https://www.thaiticketmajor.com/intro-2018/assets/js/main.min.js?v=20230420"></script>


  <link rel="stylesheet" th:href="@{/css/index/main.css}">
  <script th:src="@{/js/slick.min.js}"></script>
  <script th:src="@{/js/detectmobilebrowser.js}"></script>
  <script th:src="@{/js/jquery.easing.js}"></script>
  <script th:src="@{/js/jquery.mousewheel.js}"></script>
  <script th:src="@{/js/jquery.transit.min.js}"></script>
  <script th:src="@{/js/main.min.js}"></script>
  <script th:src="@{/js/slick.min.js}"></script>

