<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm Concert và Seats</title>
</head>
<body>
    <h1>Thêm Concert và Seats</h1>

    <div th:if="${errorMessage}" style="color: red;">
        <p th:text="${errorMessage}"></p>
    </div>

    <!-- Form thêm Concert -->
    <form id="concertForm" th:action="@{/addConcertAndSeats}" method="post" enctype="multipart/form-data">
        <h2>Thêm Concert</h2>
        <label for="name">Tên Concert:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="duration">Thời lượng:</label>
        <input type="number" id="duration" name="duration" required><br>

        <label for="startSale">Ngày bắt đầu bán:</label>
        <input type="date" id="startSale" name="startSale" required><br>

        <label for="endSale">Ngày kết thúc bán:</label>
        <input type="date" id="endSale" name="endSale" required><br>

        <label for="startDate">Ngày bắt đầu diễn ra:</label>
        <input type="date" id="startDate" name="startDate" required><br>

        <label for="videoLink">Link Video:</label>
        <input type="text" id="videoLink" name="videoLink"><br>

        <label for="popularity">Độ phổ biến:</label>
        <input type="number" id="popularity" name="popularity"><br>
            
        <label for="exampleFormControlSelect1" class="ms-0">Category</label>
        <select class="form-control" name="category_id">
          <option th:each="cl : ${listCategory}" th:value="${cl.id}" th:text="${cl.catname}"></option>
        </select>

        <label for="mainImageFile">Ảnh Đại Diện:</label>
        <input type="file" id="mainImageFile" name="mainImageFile"><br>

        <label for="subImageFile1">Ảnh Phụ 1:</label>
        <input type="file" id="subImageFile1" name="subImageFile1"><br>

        <label for="subImageFile2">Ảnh Phụ 2:</label>
        <input type="file" id="subImageFile2" name="subImageFile2"><br>

        <!-- Form thêm Seat -->
        <h2>Thêm Seats</h2>
        <label for="rows">Số hàng:</label>
        <input type="number" id="rows" name="rows" required><br>

        <label for="columns">Số cột:</label>
        <input type="number" id="columns" name="columns" required><br>

        <button type="submit">Thêm</button>
    </form>
</body>
</html>
