<div class="modal fade" id="modalXoa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Confirm deletion of concert</h5>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="id" />
        <p>Bạn có chắc muốn xóa?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn bg-gradient-danger" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>


 
 <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Authors table</h6>
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-secondary" style="max-width: 200px; margin: 20px 0 10px 40px" onclick="window.location.href='/addConcertAndSeats'">Add Concert</button>
          </div>
          <div class="card-body px-0 pb-2" style="padding: 0;">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Start sale</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">End sale</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Start date</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ảnh</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>

                  <tr th:each="dl : ${ds}">
                    <td>
                      <div class="d-flex px-3 py-1">
                        <span class="text-xs font-weight-bold mb-0" th:text="${dl.id}"></span>
                      </div>
                    </td>
                    <td>
                        <p class="text-xs font-weight-bold mb-0" th:text="${dl.name}">Giangbe291@gmail.com</p>
                    </td>
                    <td>
                          <p class="text-xs font-weight-bold mb-0" th:text="${dl.startSale}">Giangbe291@gmail.com</p>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0" th:text="${dl.endSale}">0987654321</p>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold" th:text="${dl.startDate}">23/04/18</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="badge badge-sm bg-gradient-success" th:text="${dl.status}">Online</span>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <img th:src="@{/images/{imageName}(imageName=${dl.mainImage})}" 
                        alt="Ảnh Đại Diện" 
                        style="max-width: 100px; max-height: 100px;" 
                        onerror="this.onerror=null; this.src='@{/images/error.png}';" />
                    </td>
                    <td class="align-middle">
                      <a class="text-secondary font-weight-bold text-xs" th:href="@{/concert/update/{id}(id=${dl.id})}">
                        Edit
                    </a>
                    
                      &nbsp;
                      <a type="button" class="text-secondary font-weight-bold text-xs" data-toggle="modal" data-target="#modalXoa" href="#modalXoa"
                    th:data-id="${dl.id}">
                      Delete
                    </a>
                    <script>
                        function setupDeleteButton() {
                          $('#modalXoa').off('click', '.btn.bg-gradient-danger').on('click', '.btn.bg-gradient-danger', function() {
                            $('#modalXoa').modal('hide'); // Ẩn modal
                              var id = $('#modalXoa').find('input[name="id"]').val();
                              
                              $.ajax({
                                  url: '/concert/delete',
                                  type: 'POST',
                                  data: {
                                      id: id
                                  },
                                  success: function(response) {
                                    alert(response); // Thông báo xóa thành công
                                    $('tr:has(td:contains("'+ id +'"))').remove(); // Tìm hàng có ID tương ứng và xóa
                                    $('#modalXoa').modal('hide');
                                },
                                  error: function(xhr, status, error) {
                                      alert("Error deleting concert: " + error);
                                  }
                              });
                          });
                      }
                      
                      $('#modalXoa').on('show.bs.modal', function (e) {
                          var id = $(e.relatedTarget).data('id');
                          $(e.currentTarget).find('input[name="id"]').val(id);
                          setupDeleteButton(); // Gọi hàm để thiết lập sự kiện mỗi khi modal mở
                      });
                      
                  </script>
                  
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>