<main class="main-container" role="main">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
	<div class="member-sidebar">
		<div class="box-member-info">
			<div class="form-row justify-content-center txtC">
				<div class="col-12">
					<p class="my-2">
						<strong class="txtBig" th:text="${user.email}">giang  dang tuan</strong><br>
					</p>
				</div>
			</div>
		</div>
		<p class="d-block d-lg-none text-center">
			<a class="btn-linear-round-black btn-small" href="javascript:void(0);" onclick="$app.popup.memberMenu('#member-nav');">Member Menu</a>
		</p>
		<div class="divider-h gray d-block d-lg-none"></div>
		<nav class="member-nav mt-0 mt-lg-4" role="menu" id="member-nav">
			<div class="inner popup-menu-list">
				<a class="item" href="/user/myticket.php?urId=c5338d30f0124a76f012a5fd7450d2ab">
					<i class="mr-3 fa fa-ticket" aria-hidden="true"></i>My Ticket</a>
				<a class="item" href="/user/history.php?urId=c5338d30f0124a76f012a5fd7450d2ab">
					<i class="mr-3 fa fa-history" aria-hidden="true"></i>Purchase History</a>
								<div class="divider-h gray d-none d-lg-block"></div>
				<a class="item" href="/user/profile">
					<i class="mr-3 fa fa-pencil" aria-hidden="true"></i>Edit Profile				</a>
				<a class="item" href="/user/changepassword.php?urId=c5338d30f0124a76f012a5fd7450d2ab">
					<i class="mr-3 fa fa-lock" aria-hidden="true"></i>Change Password				</a>
				<div class="divider-h gray d-none d-lg-block"></div>
				<a class="item" href="/user/logout.php">
					<i class="mr-3 fa fa-sign-out" aria-hidden="true"></i>Sign Out				</a>
				<a class="item d-block d-lg-none" href="javascript:void(0);" onclick="$.fancybox.close();"><span class="txt-red">Close</span></a>
			</div>
		</nav>
	</div>
</div>
<div class="col-auto d-none d-lg-block"><div class="divider-v gray h-100"></div></div>            <div class="col-12 col-md-4">
                <div class="member-body">
                    <form class="form" method="post" action="/user/changePassword" id="frm-change-password">
                        <div class="row-frm">
                            <div class="header-section">
                                <h2 class="head"><strong>Change Password</strong></h2>
                            </div>
                        </div>
                        <div class="row-frm">
                            <div class="box-input box-view-password">
                                <div class="box">
                                    <label class="input-group" for="old_password">
                                        <input class="input-txt" type="password" name="old_password" id="old_password">
                                        <span class="txt-label">Old Password</span>
                                    </label>
                                </div>
                                <div class="txt-error"></div>
                            </div>
                        </div>
                        <div class="row-frm">
                            <div class="txt-label">New Password (must be 8-16 characters)</div>
                            <div class="box-input box-view-password">
                                <div class="box">
                                    <label class="input-group" for="new_password">
                                        <input class="input-txt" type="password" name="new_password" id="new_password">
                                        <span class="txt-label">New Password</span>
                                    </label>
                                </div>
                                <div class="txt-error"></div>
                            </div>
                        </div>
                        <div class="row-frm">
                            <div class="box-input box-view-password">
                                <div class="box">
                                    <label class="input-group" for="confirm_password">
                                        <input class="input-txt" type="password" name="confirm_password" id="confirm_password">
                                        <span class="txt-label">Confirm New Password</span>
                                    </label>
                                </div>
                                <div class="txt-error"></div>
                            </div>
                            <div class="divider"></div>
                            <div class="row-frm">
                                <button type="submit" class="btn-red btn-submit"><span>OK</span></button>
                            </div>
                    
                </div></form>
            </div>
        </div>
    </div>
</div>
<script>
    // Xác minh mật khẩu cho form Add User
    document.getElementById("frm-change-password").addEventListener("submit", function(event) {
      const password = document.getElementById("new_password").value;
      const confirmPassword = document.getElementById("confirm_password").value;
  
      if (password !== confirmPassword) {
        event.preventDefault(); // Ngăn không cho form submit
        alert("Password và Confirm Password phải giống nhau.");
      }
    });

    // Lấy tất cả các trường input trong form
    const inputs = document.querySelectorAll('.input-txt');

    inputs.forEach(input => {
        // Kiểm tra nếu input có dữ liệu khi tải trang
        toggleActiveClass(input);

        // Lắng nghe sự kiện khi người dùng nhập hoặc thay đổi giá trị
        input.addEventListener('input', () => {
            toggleActiveClass(input);
        });
    });

    function toggleActiveClass(input) {
        const label = input.closest('label');
        if (input.value.trim() !== '') {
            label.classList.add('active');
        } else {
            label.classList.remove('active');
        }
    }

  
  </script>
</main>