<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

<section class="section-highlight" style="background-color: black;">
    <div class="inner">
        <div class="row">
            <!-- highlight v2 -->
            <div class="box-herobanner">
                <div id="carouselExampleIndicators" class="carousel slide" style="width: 700px;height:300px">
                    
                    <div class="carousel-inner" th:each="dl : ${ds}">
                        <a  th:href="@{/concert/detail/{id}(id=${dl.id})}">
                      <div class="carousel-item active">
                        <img  th:src="@{/images/{imageName}(imageName=${dl.mainImage})}" class="d-block w-100" alt="..." style="height: 100%;width: 100%;">
                      </div>
                    </a>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="background-color: transparent;border: none;">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="background-color: transparent;border: none;">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
               
            </div>
            <div class="box-side-banner">
                <div class="col-12 col-md-6 col-lg-12">
                    <div class="banner-container">
                        <div class="box-boombox">
                            <!-- /116117570/TTM_R1 -->
                            <div id="div-gpt-ad-1509596340131-0" style="height:250px; width:300px;">
                                <script>
                                    googletag.cmd.push(function () { googletag.display('div-gpt-ad-1509596340131-0'); });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-12">
                    <section class="subbanner slick-initialized slick-slider">
                        <div class="slick-list draggable">
                            <div class="slick-track"
                                style="opacity: 1; width: 300px; transform: translate3d(0px, 0px, 0px);"><a
                                    target="_blank" class="item slick-slide slick-current slick-active"
                                    href="https://www.facebook.com/ThaiTicketMajor" data-slick-index="0"
                                    aria-hidden="false" tabindex="0" style="width: 300px;"><img
                                       
                                        th:src="@{/image/highlight_ttmevent_48-5bd056d5795ca.jpg}"
                                        alt="ติดตามอัพเดทข้อมูลข่าวสารได้ที่ facebook"
                                        title="ติดตามอัพเดทข้อมูลข่าวสารได้ที่ facebook"></a></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="tabbox">
    <div class="box-head-select-cate">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="tb-select head-event-select-cate">
                        <li class="active"><a
                                href="javascript:void(0);"><span><img class="icon" th:src="@{/image/fire.svg}"
                                        alt="fire"><span class="txt">Available</span></span></a></li>
                        <li><a
                                href="javascript:void(0);"><span><img class="icon"
                                    th:src="@{/image/coming-soon.svg}" alt="coming-soon"><span class="txt">Coming Soon</span></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Search Bar -->
                <input type="text" id="searchInput" placeholder="Search events..." class="form-control mb-3">
                <!-- HOT EVENTS -->
                <div class="tb-item box-collapse expand active" id="hot-sale-concert" style="">
                    <div class="row" id="eventGrid">
                        <div class="col-6 col-md-4 col-lg-2 event-item" th:each="dl : ${ds}" id="item">
                            <div class="event-item-content">
                                <a class="box-img" th:href="@{/concert/detail/{id}(id=${dl.id})}">
                                    <img class="lazy" style="width: 100%; height: 100%;" th:src="@{/images/{imageName}(imageName=${dl.mainImage})}" alt="Banner Image">
                                </a>
                                <div class="box-txt">
                                    <a class="title" th:href="@{/concert/detail/{id}(id=${dl.id})}">
                                        <div class="title" th:text="${dl.name}"></div>
                                    </a>
                                    <span class="datetime">
                                        <span>
                                            <div class="detail" th:text="${dl.startSale}"></div>
                                        </span>
                                    </span>
                                </div>
                                <div class="box-btn">
                                    <a th:href="@{/concert/detail/{id}(id=${dl.id})}" class="btn-buynow">
                                        <small>Buy now</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TTM LIVE -->
                <div class="tb-item active" id="coming-soon-concert" style="display: none;">
                    <div class="container">
                        <div class="row">
                            <div class="col-4 col-md-3 col-lg-2" th:each="concert : ${listComingSoon}">
                                <div class="event-item">
                                    <a class="box-img" th:href="@{/concert/detail/{id}(id=${concert.id})}">
                                        <img class="lazy" style="width: 100%; height: 100%;" th:src="@{/images/{imageName}(imageName=${concert.mainImage})}" alt="I'll make you proud Concert" title="I'll make you proud Concert">
                                    </a>
                                    <div class="box-txt">
                                        <a class="title" th:href="@{/concert/detail/{id}(id=${concert.id})}" th:text="${concert.name}">I'll make you proud Concert</a>
                                            <span class="datetime" th:text="${concert.startSale}"><span>30 NOV 2024</span></span>
                                        <a class="venue" href="/_venue.php?venue_id=12240"><span>Lido Hall 2, Lido Connect</span></a>
                                    </div>
                                    <div class="box-btn">
                                        <a th:href="@{/concert/detail/{id}(id=${concert.id})}" class="btn-buynow linear">
                                            <small>Coming Soon</small>
                                        </a>
                                    </div>                          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
    document.getElementById('searchInput').addEventListener('keyup', function() {
        var filter = this.value.toLowerCase();
        var eventItems = document.querySelectorAll('.event-item');

        eventItems.forEach(function(item) {
            var title = item.querySelector('.title').innerText.toLowerCase();
            if (title.includes(filter)) {
                item.style.display = '';
            } else {
                item.style.display = 'none';
            }
        });
    });
</script>
<script>
    $(document).ready(function() {
        $(".tb-select li a").click(function() {
            // Xóa lớp 'active' khỏi tất cả các 'li' và 'tb-item'
            $(".tb-select li").removeClass("active");
            $(".tb-item").each(function() {
                $(this).css("display", "none");
            });
    
            // Thêm lớp 'active' vào 'li' được chọn và hiển thị phần tử tương ứng
            $(this).closest("li").addClass("active");
    
            // Dùng một điều kiện để chọn phần tử div tương ứng và hiển thị nó
            if ($(this).closest("li").index() === 0) { // Hot Sale
                $("#hot-sale-concert").css("display", "block");
            } else if ($(this).closest("li").index() === 1) { // On Sale
                $("#coming-soon-concert").css("display", "block");
            }
        });
    });
</script>
